body {
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border: 1px solid #b39260e3;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b39260e3;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
